.dccache
.idea
.DS_Store

backend/backend.iml
backend/.mvn

frontend/node_modules
frontend/.vscode
frontend/frontend.iml

deployment/managed-certificate.yml

values.yml

get_last_pr_nb.sh

terraform/.terraform.lock.hcl
terraform/.terraform/
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
